@media all and (min-width: 768px) and (max-width: 959px) {
    th.onlyDesktop,  td.onlyDesktop{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;       
    } 
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 600px */
@media all and (min-width: 600px) and (max-width: 767px) {
    th.onlyDesktop,  td.onlyDesktop{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media all and (min-width: 480px) and (max-width: 599px) {
  th.onlyDesktop,  td.onlyDesktop{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {
    th.onlyDesktop,  td.onlyDesktop{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }    
}

th.hideAlways, td.hideAlways {
     display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
}
.table>tbody>tr>td {
    cursor: pointer;
}


